*{
    margin:0;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgray;
    width: 100%;
    height: 100%;
    display: block;
}

.whole_container{
    padding: 20px;
}

.header_container{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color:crimson
}

.search__box_container{
    position: sticky;
    margin-top: 30px;
    text-align: center;
    min-height: 60px;
    display: block;
}

input[type=text]{
    min-height: 40px;
    min-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    display: block;
    margin: auto;
    text-align: center;
}

.button{
    margin-top: 30px;
    height: 55px;
    min-width: 160px;
    font-size: x-large;
    background: inherit;
    cursor: pointer;
    outline-color: crimson;
}

.giphy_holder {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: space-evenly;
    margin-top: 50px;
  }
  
.response_holder {
    padding: 0 4px;
}

img{
    width: 200px;
    height: 200px;
}

#overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.stop-scrolling { 
    height: 100%; 
    overflow: hidden; 
} 

.error_text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 24px;
}